In [1]:
import pandas as pd
import numpy as np

In [155]:
df = pd.read_csv("data_appartement.csv", index_col="ID")
df_eval = pd.read_csv("eval.csv", index_col="ID")
df.columns

Index(['arrondissment', 'superficie', 'nbr_chambre', 'nbr_p', 'etage',
       'standing', 'prix'],
      dtype='object')

In [171]:
def addapt(rem:pd.core.series.Series, t:pd.core.series.Series):
    arr_cls = [69006,69002,69004,69001,69003,69007,69008,69009,69005]
    delta_standing = (rem.standing - t.standing) * 50000
    delta_arr = (arr_cls.index(rem.arrondissment) - arr_cls.index(t.arrondissment)) * -10000
    delta_sup = (rem.superficie - t.superficie) * -3000
    
    delta_prix = delta_standing + delta_arr +delta_sup
    print("loooooo",delta_prix)
        
    print("prix adapté : ", rem.prix + delta_prix)
    print("prix predict and reel : ", t.prix - (rem.prix + delta_prix))

In [172]:
def algo_2(row: pd.core.series.Series, cas_c:pd.core.series.Series):
    weights ={
        "arrondissment" : 14,
        "standing": 15,
        "superficie":7,
        "nbr_chambre":6,
        "nbr_p":6,
        "etage":3
    }
    wted_avg = 0
    if row.arrondissment == cas_c.arrondissment:
        wted_avg += (weights["arrondissment"] * 1)
        if row.standing == cas_c.standing:
            wted_avg += (weights["standing"] * 1)
            if abs(row.superficie - cas_c.superficie) <=15:
                wted_avg += (weights["superficie"] * 1)
            else:
                wted_avg += (weights["superficie"] * (abs(1-(abs(row.superficie - cas_c.superficie))/max(row.superficie,cas_c.superficie))))
        else:
            wted_avg += (weights["standing"] * 0.2)
            if abs(row.superficie - cas_c.superficie) <=15:
                wted_avg += (weights["superficie"] * 1)
            else:
                wted_avg += (weights["superficie"] * (abs(1-(abs(row.superficie - cas_c.superficie))/max(row.superficie,cas_c.superficie))))
    else:
        wted_avg += (weights["arrondissment"] * 0.3)
        if row.standing == cas_c.standing:
            wted_avg += (weights["standing"] * 1)
            if abs(row.superficie - cas_c.superficie) <=15:
                wted_avg += (weights["superficie"] * 1)
            else:
                wted_avg += (weights["superficie"] * (abs(1-(abs(row.superficie - cas_c.superficie))/max(row.superficie,cas_c.superficie))))
        else:
            wted_avg += (weights["standing"] * 0.2)
            if abs(row.superficie - cas_c.superficie) <=15:
                wted_avg += (weights["superficie"] * 1)
            else:
                wted_avg += (weights["superficie"] * (abs(1-(abs(row.superficie - cas_c.superficie))/max(row.superficie,cas_c.superficie))))
    
    wted_avg += (weights["nbr_chambre"] * (1-abs(row.nbr_chambre - cas_c.nbr_chambre)/max(row.nbr_chambre,cas_c.nbr_chambre)))
    wted_avg += (weights["etage"] * (1-abs(row.etage - cas_c.etage)/max(row.etage,cas_c.etage)))
    wted_avg += (weights["nbr_p"] * (1-abs(row.nbr_p - cas_c.nbr_p)/max(row.nbr_p,cas_c.nbr_p)))
    return wted_avg/sum(list(weights.values()))
    

test = df_eval.iloc[4]
df["sim"] = df.apply(lambda row: algo_2(row,test),axis=1)
df = df.sort_values(by=['sim'])
print(df.iloc[-1])
addapt(df.iloc[-1],test)

arrondissment     69002.000000
superficie           78.410000
nbr_chambre           3.000000
nbr_p                 4.000000
etage                 2.000000
standing              3.000000
prix             420000.000000
sim                   0.900897
Name: 8, dtype: float64
loooooo -52229.99999999999
prix adapté :  367770.0
prix predict and reel :  31230.0

In [173]:
test

arrondissment     69002.0
superficie           61.0
nbr_chambre           2.0
nbr_p                 3.0
etage                 2.0
standing              3.0
prix             399000.0
Name: 5, dtype: float64

In [61]:
def algo(row: pd.core.series.Series, cas_c:pd.core.series.Series):
    wted_avg = 0
    if row.arrondissment == cas_c.arrondissment:
        wted_avg += (10 * 1)
        if row.standing == cas_c.standing:
            wted_avg += (10 * 1)
            if abs(row.superficie - cas_c.superficie) <=15:
                wted_avg += (5 * 1)
            else:
                wted_avg += (5 * (abs(1-(abs(row.superficie - cas_c.superficie))/max(row.superficie,cas_c.superficie))))
        else:
            wted_avg += (10 * 0.2)
            if abs(row.superficie - cas_c.superficie) <=15:
                wted_avg += (5 * 1)
            else:
                wted_avg += (5 * (abs(1-(abs(row.superficie - cas_c.superficie))/max(row.superficie,cas_c.superficie))))
    else:
        wted_avg += (10 * 0.3)
        if row.standing == cas_c.standing:
            wted_avg += (10 * 1)
            if abs(row.superficie - cas_c.superficie) <=15:
                wted_avg += (5 * 1)
            else:
                wted_avg += (5 * (abs(1-(abs(row.superficie - cas_c.superficie))/max(row.superficie,cas_c.superficie))))
        else:
            wted_avg += (10 * 0.2)
            if abs(row.superficie - cas_c.superficie) <=15:
                wted_avg += (5 * 1)
            else:
                wted_avg += (5 * (abs(1-(abs(row.superficie - cas_c.superficie))/max(row.superficie,cas_c.superficie))))
    
    wted_avg += (3 * (1-abs(row.nbr_chambre - cas_c.nbr_chambre)/max(row.nbr_chambre,cas_c.nbr_chambre)))
    wted_avg += (2 * (1-abs(row.etage - cas_c.etage)/max(row.etage,cas_c.etage)))
    wted_avg += (3 * (1-abs(row.nbr_p - cas_c.nbr_p)/max(row.nbr_p,cas_c.nbr_p)))
    return wted_avg/33
    

test = df_eval.iloc[0]
df["sim"] = df.apply(lambda row: algo(row,test),axis=1)
df.sort_values(by=['sim'])

,arrondissment,superficie,nbr_chambre,nbr_p,etage,standing,prix,sim
ID,,,,,,,,
14,69008,93.00,4,5,5,3,547000,0.273688
13,69008,87.60,3,4,4,3,442000,0.293102
1,69005,108.52,2,3,5,3,430000,0.298648
8,69002,78.41,3,4,2,3,420000,0.316857
10,69100,83.00,2,3,4,3,385000,0.319898
17,69008,21.00,0,1,5,1,90000,0.329518
6,69008,70.00,2,3,4,1,264000,0.334286
12,69003,85.50,3,4,1,3,482500,0.340360
16,69007,69.00,2,3,3,3,400000,0.340668
20,69003,25.00,0,1,1,1,115000,0.392283
5,69003,40.97,1,2,4,1,280000,0.454545
18,69004,145.66,4,5,2,3,670000,0.478994
7,69004,118.50,3,4,3,3,550000,0.491133
2,69004,61.00,3,4,4,3,390000,0.537233
11,69004,86.57,1,3,4,3,375000,0.574279
15,69003,60.53,1,2,6,2,299000,0.646637
19,69007,20.06,1,1,0,2,159000,0.647374
3,69004,62.38,1,3,1,3,375000,0.648537
4,69006,59.40,1,2,2,2,348000,0.668860
9,69003,60.53,1,2,1,2,299000,0.697142